DATABASE_URL=postgresql+psycopg://neondb_owner:npg_c1R4OInDKhfE@ep-purple-hat-aesp9ygm-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

CALLE_API_KEY=	iams_live_RJjMWGJfPKN3E9BEcmxF_38b344464ac774e78adc5b7dfb369cb19906fb40d62b80e19784d168728b5439
